
.odin-head{
    border: 2px solid green;
    background-color:red;
    color:white;
    font-size: 32;
    text-align: center;
    font-weight: bold;
  }

.alert-text{
    border: 2px solid red;
    background-color:GREEN;
    color:white;
    font-size: 32;
    text-align: center;
    font-weight: bold;
}